<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
  </body>
  <script>
    window.onload = function() {
      window.opener.postMessage({
        account: '<%- JSON.stringify(account) %>',
        token: '<%= token %>'
      }, '<%= origin %>')
    }
  </script>
</html>
