@import '../../assets/scss/vars.scss';

div#signin {
  #content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
  }

  #title {
    text-align: center;
    margin: 0.25em 0 1em 0;
  }

  #submit {
    margin: 2em 0 0.25em 0;
  }
}
