$red: #b50717;
$red-light: #ef4c40;

$gold: #ceac41;

$black: #1d1d1d;
$black-light: #333333;

$light: #ececec;

$font: 'Muli', 'sans-serif';
$font-title: 'IBM Plex Sans', 'sans-serif';
$header-height: 85px;
$footer-height: 65px;
